@inherits LayoutComponentBase

<div>
    <main>
        <div>
			@Body
		</div>
    </main>

	<footer class="my-5 pt-5 text-body-secondary text-center text-small">
		<p class="mb-1">&copy; 2025 FakePay</p>
	</footer>
</div>
