
/*---- Teljes oldalra vonatkozó stílus */

/* Teljes háttér sötétebbé tétele */
body {
    background-color: #1a1a1a !important; /* Sötét háttér */
    color: white;
}


#index-container {
    background-color: white; /* Csak a tartalom legyen világos */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Árnyék a kiemeléshez */
    color: black;
}


/*---- login.php oldal stílus ---- */
/* Login kártya háttér */
.login-card {
    background-color: #2c2f33;
    color: white;
    width: 350px;
    border-radius: 10px;
}

/* SkiRent Márkanév kiemelése */
#login-brand {
    font-size: 2rem;
    font-weight: bold;
    color: #ffc107; /* Sárga szín */
    text-shadow: 4px 4px 8px rgba(255, 193, 7, 0.3); /* Fényhatás */
}



/* ----- index.php ---- */
/* Márkanév nagyobb betűméret */
#brand-logo {
    font-size: 1.8rem; /* Alapértelmezett: 1rem, most nagyobb lett */
}

/* Menüpontok hover effekttel */
.menu-item:hover {
    background-color: #ffc107; /* Sárga háttér */
    color: #212529 !important; /* Fekete szöveg */
    border-radius: 5px; /* Kis lekerekítés */
    transition: background-color 0.3s ease, color 0.3s ease;
}