
/*---- Teljes oldalra vonatkozó stílus */

/* Teljes háttér sötétebbé tétele */
body {
    background-color: #1a1a1a !important; /* Sötét háttér */
    color: white;
}


#index-container {
    background-color: white; /* Csak a tartalom legyen világos */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Árnyék a kiemeléshez */
    color: black;
}
/*

.login-body {
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.login-container {
    text-align: center;
}

.brand-logo {
    font-size: 2rem;
    font-weight: bold;
    color: #ffc107;
    margin-bottom: 20px;
}

.login-box {
    background-color: #222;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.1);
    width: 350px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    background-color: #333;
    border: 1px solid #555;
    color: white;
}

.form-control:focus {
    background-color: #444;
    color: white;
}

.btn-warning {
    background-color: #ffc107;
    border: none;
}

.btn-warning:hover {
    background-color: #e0a800;
}

.login-link {
    margin-top: 10px;
}

.error-text {
    color: red;
    font-size: 0.9rem;
}


.menu-item:hover {
    background-color: #ffc107; /* Sárga háttér 
    color: #212529 !important; /* Fekete szöveg 
    border-radius: 5px; /* Kis lekerekítés 
    transition: background-color 0.3s ease, color 0.3s ease;
}


*/
